body {
    background-image: url('https://i.postimg.cc/HsQqx9FJ/latest.jpg');
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}
.header {
    background-color: rgb(81, 85, 87);
    padding-left: 5vh;
    padding-right: 5vh;
    align-items: center;
    min-width: 70%;
    height: 5vh;
    justify-content: space-around;
    display: flex;
}
.header-buttons {
    border-radius: 5px;
    background-color: white;
}

.footer {
    background-color: rgb(81, 85, 87);
    color: white;
    text-align: center;
    padding: 10 px;
    position: sticky;
    bottom: 0;
}
.home-main {
    flex:1;
    overflow: scroll;
    height: 100vh;
}
.home-title {
    display: flex;
    justify-content: center;
}
.picture-text {
    display: flex;
    height: 100vh;

}
.home-text{
    align-items: center;
    width: 1000px;
    display: flex;
    font-size: 35px;
    width: 70%;
    height: 90%;
    padding-left: 4vh;
    padding-right: 4vh;

}

p.indent {
    text-indent: 3vh;
}
.home-picture {
    align-items: center;
    justify-content: center;
    width: 30%;
    display: flex;
}

.picture-container {
    min-width: 300px;
    background-size: cover;
    border-radius: 50%;
    background-image: url(https://i.postimg.cc/mD9QJPh4/a3.jpg);
    height: 40vh;
    width: 40vh;
    border: solid black;
}

@media only screen and (max-width: 430px) {
    .picture-text {
        display: block;
    }
    .reach-p {
        width: 50%;
        font-size: 20px;
    }

    .picture-container {
        width: 20vh;
        height: 20vh;
        margin-left: 30vh;
        margin-bottom: 2vh;
    }

    .home-text{
        height: 65vh;
        margin-top: 0vh;
        text-align: left;
        max-width: 100%;
        padding-left: 30px;
        font-size: 20px;
        width: 100%;
        
    }

    li {
        font-size: 20px;
    }
    
}

/* About Me */
h2 {
    font-size: 40px;
    margin-left: 45%;
}
.about-main {
    height: 100vh;
}
.about-split{
    display: flex;
    margin-top: 3%;
    height: 80%;
}
.credentials {
    height: 100%;
    width: 60%;
}
.credentials-title {
    display: flex;
    justify-content: center;
}
.credentials-bullets {
    font-size: 30px;
    display: flex;
}
.experience {
    width:40%;

}
.experience-title {
    display: flex;
    justify-content: center;
}
.experience-bullets {

    justify-content: center;
    font-size: 30px;
}
li {
    margin-bottom: 3vh;
}

/* contact/ plans */

.td {
    margin-left: 5vh;
}

.small-text {
    font-size: 10px;
}
.plans-title {
    display: flex;
    justify-content: center;
}

.contact {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
}
.contact-form {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-direction: column;
    width: 440px;
}
.reach {
    font-size: 40px;
    display: flex;
    justify-content: center;
}
